:root{
  --bg-color :white;
  --text-color : black;
  --shadow-color : black;
  --invert: 0%;
}

*{
    margin: 0;
    font-family: "Playfair Display", serif;
}



.night-mode{
  --bg-color :black;
  --text-color : white;
  --shadow-color : white;
  --invert: 100%;
}


.nav-bar{
  display: flex;
  position: fixed;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  z-index: 3;
}

.nav-bar  * {
  color: white;
  text-shadow: 2px 2px  black;
  transition: filter 0.5s ease;
}

.nav-bar .head-nav:hover{
  filter:invert(100%)
}

.buttons{
  display: flex;
  gap:30px
}

.logo{
  font-size: 2rem;
  margin-left: 30px;
}

.hamburger{
  margin-right: 30px;
}

.hamb-butt,.dark-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
}

.dark-button{
  color: var(--bg-color);
  text-shadow: 2px 2px var(--shadow-color);
}

/* .hamb-butt{
  font-size: 1em;
} */



.mainsect{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    background-image: url(../src/img/compressed/bg-first.jpg);
    background-size: cover;
    background-position: 100%;
}

h1{
    color: white;
    text-shadow: 2px 2px  black;
    text-transform: uppercase;
    font-size: 5rem;
    padding-left: 5%;
    width: 50%;
}

.aboutsect{
    height: 600px;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.aboutsect *{
    margin: 0 5%;
    color: var(--text-color);
}

.bekerja{
    font-weight: 700;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.aboutsect > h2{
    font-size: 7rem;

    /* text-transform:uppercase; */
}

.aboutsect > p{
    font-size: 1.5rem;
    max-width: 900px;
}

.facssect{
    /* height: 690px; */
    height: 100vh;
    background-color: black;
    color: white;
    text-shadow: 2px 2px  black;
}

.facs{
    padding: 0;
}

.facitems{
    list-style: none;
    /* height: 230px; */
    height: 33.33vh;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4em;
    cursor: pointer;
    padding-right: 5%;
    background-size: cover;
    background-position-y: 50%;
    transition: opacity 0.3s ease;
    background-repeat: no-repeat;

}

.fac-1{
    background-image: url(../src/img/compressed/joint.jpg);
}

.fac-2{
    background-image: url(../src/img/compressed/welding.jpg);
}

.fac-3{
    background-image: url(../src/img/compressed/anet-a8.jpg);
}

.facs:hover .facitems{
    opacity: 0.5;
    background-position-x: 2000vw;
}

.facs:hover .facitems:hover{
    opacity: 1;
    background-position-x: 0;
}

.testimonsect{
    background-color: var(--bg-color);
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* cursor: pointer; */
}

.testimonsect > div{
  
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.5rem;
    line-height: 1.75em;
    color: var(--bg-color);
    transition: color 2s ease-out;
    margin: 0 5%;
}

.testimony-name{
    font-size: 1.5em;
    font-weight: 500;
}

.testimonsect > img{
    /* height: 500px; */
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    transform: translateX(100%);
    transition: transform 2s ease;
    animation-fill-mode: forwards;
}


.testimonsect:hover .good-sir{
    transform: translateX(0);
}

.testimonsect:hover div{
    color: var(--text-color);
}


.infosect{
    height:700px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.infosect:hover .maps{
  scale: 107%;
}

.addressinfo{
    right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 3rem;
    z-index: 1;
}

.addressinfo *{
  color: var(--text-color);
}

/* .here:hover{
  border-bottom: 3px solid var(--text-color);
} */

.maps{
    transition: scale 0.5s ease;
    filter: invert(var(--invert));
}


footer{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    border-top: 1px solid var(--text-color);
    padding: 30px 5% 0;
    font-size: 1.25em;

}

footer * {
  color: var(--text-color);
}

footer li{
  margin-bottom: 0.5em;
}

footer > ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

footer a:hover{
  border-bottom: 1px solid var(--text-color);
}

.copyright, .copyright-2{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


@media(max-width:1024px){
  .testimonsect > div{
  
    font-size: 1.25rem;
    line-height: 1.55em;
}

.testimony-name{
    font-size: 1.5em;
    font-weight: 500;
}
}

@media(max-width:768px){
  h1{
    font-size: 3rem;
  }

  .aboutsect{
    height: 400px;
  }

  .aboutsect > h2{
    font-size: 3.25rem;
  }
  .aboutsect > p{
    font-size: 1.15rem;
  }

  .facssect{
    height: 45vh ;
  }

  .facitems{
    font-size: 2em;
    height: 15vh;
  }

  .testimonsect{
  flex-direction: column-reverse;
  height: 600px;
  gap: 40px;

}

.testimonsect > img{
  /* height: 500px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0px 13%;
  transform: translateY(-100%);
}

.testimonsect > div{
  font-size: 1.05rem;
  line-height: 1.55em;
  margin-top: 0px;
}

.testimony-name{
  font-size: 1.75em;
  font-weight: 500;
}

.infosect{
  height:320px;
}
.addressinfo{
  font-size: 1.45rem;
}

footer{
  font-size: 0.85em;
}
.nav-bar  * {
  font-size: 1.35em;
}
}