*{
    margin: 0;
    font-family: "Playfair Display", serif;
}

.nav-bar{
  display: flex;
  position: fixed;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  z-index: 3;
}

.nav-bar  * {
  color: white;
  text-shadow: 2px 2px  black;

}

.buttons{
  display: flex;
  gap:30px
}

.logo{
  font-size: 2rem;
  margin-left: 30px;
}

.hamburger{
  margin-right: 30px;
}

.hamb-butt,.dark-mode{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}



.mainsect{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    background-image: url(../src/img/compressed/bg-first.jpg);
    background-size: cover;
    background-position: 100%;
}

h1{
    color: white;
    text-shadow: 2px 2px  black;
    text-transform: uppercase;
    font-size: 5rem;
    padding-left: 5%;
    width: 50%;
}

.aboutsect{
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    gap: 10px;
}


.aboutsect *{
    margin: 0 5%;
}

.bekerja{
    font-weight: 700;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.aboutsect > h2{
    font-size: 7rem;

    /* text-transform:uppercase; */
}

.aboutsect > p{
    font-size: 1.5rem;
    max-width: 900px;
}

.facssect{
    height: 690px;
    background-color: black;
    color: white;
    text-shadow: 2px 2px  black;
}

.facs{
    padding: 0;
}

.facitems{
    list-style: none;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4em;
    cursor: pointer;
    padding-right: 5%;
    background-size: cover;
    background-position-y: 50%;
    transition: opacity 0.3s ease;
    background-repeat: no-repeat;

}

.fac-1{
    background-image: url(../src/img/compressed/joint.jpg);
}

.fac-2{
    background-image: url(../src/img/compressed/welding.jpg);
}

.fac-3{
    background-image: url(../src/img/compressed/anet-a8.jpg);
}

.facs:hover .facitems{
    opacity: 0.5;
    background-position-x: 2000vh;
}

.facs:hover .facitems:hover{
    opacity: 1;
    background-position-x: 0;
}

.testimonsect{
    background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* cursor: pointer; */
}

.testimonsect > div{
  
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.5rem;
    line-height: 1.75em;
    color: white;
    transition: color 2s ease-out;
    margin: 0 5%;
}

.testimony-name{
    font-size: 1.5em;
    font-weight: 500;
}

.testimonsect > img{
    /* height: 500px; */
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    transform: translateX(100%);
    transition: transform 2s ease;
    animation-fill-mode: forwards;
}


.testimonsect:hover .good-sir{
    transform: translateX(0);
}

.testimonsect:hover div{
    color: black;
}


.infosect{
    height:70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.addressinfo{
    right: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    font-size: 3rem;
    z-index: 1;
}


.maps{
    transition: scale 0.5s ease;
}

.maps:hover{
    scale: 107%;
}

footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    border-top: 1px solid black;
    padding: 30px 5% 0;

}

footer > .creative{

}

footer > .social{

}

footer > .copyright{

}


footer > ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black;
}

.copyright, .copyright-2{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
